
<!-- <% if @current_patner.nil? %>
<%= link_to 'Login', pages_login_path %>
<% else %>
<%= link_to 'Logout', logout_path %>
<% end %> -->

<!-- <%= link_to '註冊'%>
<%= link_to '登入'%>

<%= link_to '夢想'%>
<%= link_to '公益'%>
<%= link_to '文創'%>
<%= link_to '科技'%>
<%= link_to '活動'%>
<%= link_to '遊戲'%>
<%= link_to '推薦'%>
<%= link_to '已結束'%>

-->

<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %> 

<div id="framecontent">
	<div class="innertube">
		<div class="titleFrame">
			<table width="900" border="0" cellspacing="0" cellpadding="0">
  				<tr>
					<a href="/home">
    				<div class="logo_form"><td></td></div>
					</a>
    				<td>
						<div class="title_1bn">
							<a href="#">發起專案</a>
						</div>
						<div class="title_2bn">
							<a href="#">為何要預購</a>
						</div>
						<!-- 
						<div class="facebooklogo">
							<a href="#">登入</a>
						</div>
						 -->
					</td>
  				</tr>
			</table>
		</div>
	</div>
</div>


